
@{
    ViewBag.Title = "Rentals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rentals</h2>

<a href="/rentals/new" class="btn btn-primary">New Rental</a>
<br />
<br />

<table id="rentals" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Rented Movie</th>
            <th>Date Rented</th>
            <th>Date Returned</th>
            <th>Return</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#rentals").DataTable({
                ajax: {
                    url: "/api/newRentals",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "customer.name"
                    },
                    {
                        data: "movie.name"
                    },
                    {
                        data: "dateRented"
                    },
                    {
                        data: "dateReturned"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-link js-return' data-rental-id=" + data + ">Return</button>";
                        }
                    }
                ]
            });

            $("#rentals").on("click", ".js-return", function () {
                var button = $(this);
                //We call our API here

                //If user clicks Ok
                bootbox.confirm("Are you sure you want to return this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/newRentals/" + button.attr("data-rental-id"),
                            method: "PUT",
                            success: function () {
                                table.ajax.reload();
                            }
                        });
                    }
                });
            });
        });
    </script>    
}