@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center"><b>Welcome to Vidly.</b></h1>
            <p class="lead text-center">Vidly is the best portal to rent movies fast, and easily.</p>
        </div>
        <div class="col-12 col-lg-4">
            <h3 class="text-center">Do you want to rent movies?</h3>
            <p class="lead text-center">Get in touch with us.</p>
        </div>
        <div class="col-12 col-lg-4">
            <h3 class="text-center">Do you need information about the prices?</h3>
            <p class="lead text-center">Just take a look at our price list.</p>
        </div>
        <div class="col-12 col-lg-4">
            <h3 class="text-center">Why you should choose us?</h3>
            <p class="lead text-center">Becaouse we have all of the best movies. <br />Here you can see some of our bests:</p>
        </div>

        <div class="card card-default">
            <a href="#" class="card-link">
                <span class="card-img">
                    <img src="https://fillmurray.com/g/640/320" class="img-responsive">
                </span>
                <span class="card-body">
                    <span class="h3 heading">Heading</span>
                    <p>A stitch in time saves nine.  All good things come to those who wait.  Too  many cooks spoil the broth.</p>
                </span>
            </a>
        </div>
    </div>
</div>

@*<div class="jumbotron">
        <h1>Vidly</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@