
@{
    ViewBag.Title = "Bérlések";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bérlések</h2>

<a href="/rentals/new" class="btn btn-primary">Bérlés hozzáadása</a>
<br />
<br />

<table id="rentals" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ügyfél</th>
            <th>Kibérelt film</th>
            <th>Bérlés dátuma</th>
            <th>Filmet kiadta</th>
            <th>Visszahozás dátuma</th>
            <th>Filmet visszavette</th>
            <th>Visszavétel</th>
        </tr>
    </thead>
    <tbody>
        @*Helytarto a DataTable plugin szamara*@
    </tbody>
</table>

@section scripts{
    <script>
        //Amikor a DOM teljesen betoltott
        $(document).ready(function () {
            var table = $("#rentals").DataTable({
                //Konfiguracios objektum >> hogy a Rentals API legyen a tablazat adatforrasa
                ajax: {
                    url: "/api/newRentals",

                    //Az adatokat objektumok tombjekent kapjuk meg
                    dataSrc: ""
                },
                //Oszlopok >> az adatok JSON formatumban jonnek az API-bol tomb formajaban
                columns: [
                    {
                        data: "id",
                    },
                    {
                        data: "customer.name"
                    },
                    {
                        data: "movie.name"
                    },
                    {
                        data: "dateRented",
                        render: function (data) {
                            return new Date(data).toLocaleDateString();
                        }
                    },
                    {
                        data: "userMakeRental"
                    },
                    {
                        data: "dateReturned",
                        render: function (data) {
                            if (data != null) {
                                return new Date(data).toLocaleDateString();
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        data: "userReturnRental"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-link js-return' data-rental-id=" + data + ">Visszavétel</button>";
                        }
                    }
                ]
            });

            //Adat hozzaferes
            $("#rentals").on("click", ".js-return", function () {
                var button = $(this);
                //Ha a felhasznalo az OK-ra nyom, itt hivjuk meg az API-t
                bootbox.confirm("Biztosan vissza akarod venni a filmet?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/newRentals/" + button.attr("data-rental-id"),
                            method: "PUT",
                            success: function () {
                                table.ajax.reload();
                            }
                        });
                    }
                });
            });
        });
    </script>    
}
