
@{ ViewBag.Title = "Bérlés létrehozása";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Bérlés létrehozása</h2>
<p><b>Figyelem: </b>Maximum 5 film / ügyfél!</p>
<br />

<form id="newRental">
    <div class="form-group">
        <label>Ügyfél</label>

        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validcustomer="true" required type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Film</label>

        <div class="tt-container">
            <input id="movie" name="movie" data-rule-atleastonemovie="true" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <ul id="movies" class="list-group">
            </ul>
        </div>
    </div>

    <button class="btn btn-primary">Mentés</button>
</form>

@section scripts
{
    @*Ezzel a scriptel engedelyezzuk a kliens oldali validaciot*@
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var vm = {
                movieIds: []
            };

            //Customers
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: '/api/customers/notBlockedCustomers',
                    cache: false
                }
            });
            $('#customer').typeahead({
                //3 karakter utan kezd el keresni
                minLength: 3,

                //Egyezesek kiemelese
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customers
                //Customer mentese            //e >> event, customer >> kivalasztott ugyfel
            }).on("typeahead:select", function (e, customer) {
                //Ugyfel elmenetese a vm-be
                vm.customerId = customer.id;
            });

            //Movies
            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: '/api/movies',
                    cache: false
                }
            });
            $('#movie').typeahead({
                //3 karakter utan kezd el keresni
                minLength: 3,

                //Egyezesek kiemelese
                highlight: true
            }, {
                name: 'movies',
                display: 'name',
                source: movies
                //Movie mentese               //e >> event, movie >> kivalasztott film
            }).on("typeahead:select", function (e, movie) {
                $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");
                $("#movie").typeahead("val", "");

                //Film elmentese a vm-be
                vm.movieIds.push(movie.id);
            });

            //Validacio, hogy a felhasznalo valasszon ugyfelet
            $.validator.addMethod("validcustomer", function () {
                return vm.customerId && vm.customerId !== 0;
            }, "Please select a valid customer.");

            //Validacio, hogy a felhasznalo kiavalasztott legalabb egy filmet
            $.validator.addMethod("atleastonemovie", function () {
                return vm.movieIds.length > 0;
            }, "Please select at least one movie.");

            //Form elkuldese validacioval
            var validator = $("#newRental").validate({
                submitHandler: function () {
                    $.ajax({
                        url: "/api/newRentals",
                        method: "post",
                        data: vm    //CustomerId + MovieId-k
                    })
                        .done(function () {
                            //Siker
                            toastr.success("Rentals are successfully recorded.");

                            //Form uritese
                            $("#customer").typeahead("val", "");
                            $("#movie").typeahead("val", "");
                            $("#movies").empty();

                            //vm visszaallitasa
                            vm = { movieIds: [] };

                            validator.resetForm();
                        })
                        .fail(function () {
                            //Hiba
                            toastr.error("Valami hiba történt.");
                        });

                    return false;
                }
            });
        });
    </script>
}

