@model IEnumerable<Filmellato.Models.Movie>
@{
    ViewBag.Title = "Filmek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filmek</h2>
<a href="/movies/new" class="btn btn-primary">Film hozzáadása</a>
<br /><br />

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Cím</th>
            <th>Fajta</th>
            <th>Elérhetőség</th>
            <th>Módosítás</th>
            <th>Törlés</th>
        </tr>
    </thead>
    <tbody>
        @*Helytarto a DataTable plugin szamara*@
    </tbody>
</table>

@section scripts
{
    <script>
        //Amikor a DOM teljesen betoltott
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                //Konfiguracios objektum >> hogy a Movies API legyen a tablazat adatforrasa
                ajax: {
                    url: "/api/movies",

                    //Az adatokat objektumok tombjekent kapjuk meg
                    dataSrc: ""
                },
                //Oszlopok >> az adatok JSON formatumban jonnek az API-bol tomb formajaban
                columns: [
                    {
                        data: "id",
                    },
                    {
                        data: "name",

                        render: function (data, type, movie) {
                            return "<a href='/movies/details/" + movie.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "genre.genreName"
                    },
                    {
                        data: "numberAvailable"
                    },
                    {
                        data: "id",
                        render: function (data, type, movie) {
                            return "<a href='/movies/edit/" + movie.id + "'>Módosítás</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Törlés</button>";
                        }
                    }
                ]
            });


            //Adat hozzaferes
            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);
                //Ha a felhasznalo az OK-ra nyom, itt hivjuk meg az API-t
                bootbox.confirm("Biztosan törölni akarod a filmet?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                //Itt toroljuk az filmet az adatbazisbol, es a DOM-bol (tablazat) is
                                table.row(button.parents("tr")).remove().draw();
                            }
                        })
                        .done(function () {
                            //Siker
                            toastr.success("Film sikeresen törölve.");
                        })
                        .fail(function () {
                            //Hiba
                            toastr.error("Nem törölhetsz filmet, ameddig van belőle kibérelve.");
                        });
                    }
                });
            });
        });
    </script>
}
