@model IEnumerable<Filmellato.Models.Movie>
@{
    ViewBag.Title = "Filmek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filmek</h2>
<br /><br />

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Cím</th>
            <th>Fajta</th>
            <th>Elérhetőség</th>
        </tr>
    </thead>
    <tbody>
        @*Helytarto a DataTable plugin szamara*@
    </tbody>
</table>

@section scripts
{
    <script>
        //Amikor a DOM teljesen betoltott
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                //Konfiguracios objektum >> hogy a Movies API legyen a tablazat adatforrasa
                ajax: {
                    url: "/api/movies",

                    //Az adatokat objektumok tombjekent kapjuk meg
                    dataSrc: ""
                },
                //Oszlopok >> az adatok JSON formatumban jonnek az API-bol tomb formajaban
                columns: [
                    {
                        data: "id",
                    },
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/movies/details/" + movie.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "genre.genreName"
                    },
                    {
                        data: "numberAvailable"
                    }
                ]
            });
        });
    </script>
}
