
@{
    ViewBag.Title = "Dolgozók";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dolgozók</h2>
<a href="/account/register" class="btn btn-primary">Új dolgozó hozzáadása</a>
<br />
<br />

@*Placeholder for the DataTable*@
<table id="users" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Felhasználónév</th>
            <th>Telefonszám</th>
            <th>SZIG. szám</th>
            <th>Törlés</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        //When the DOM is fully loaded
        $(document).ready(function () {
            //VIEW
            //Referenece to our users <table> and call DataTable function
            //The simpliest way to use DataTable Plug-in
            var table = $("#users").DataTable({
                ajax: {
                    url: "/api/users",
                    dataSrc: ""
                },
                //Columns >> our datas come in JSON from our API in an Array
                columns: [
                    //Every column is an object
                    {
                        data: "email"
                    },
                    {
                        data: "phoneNumber"
                    },
                    {
                        data: "identityCard"
                    },
                    {
                        data: "id",
                        render: function (data /*data paramater >> id*/) {
                            return "<button class='btn-link js-delete' data-user-id=" + data + ">Törlés</button>";
                        }
                    }
                ]
            });


            //DATA ACCESS
            //users table (#id) >> all elements with class js-delete
            //.on("click", ...) >> click event
            $("#users").on("click", ".js-delete", function () {
                var button = $(this);
                //We call our API here

                //If user clicks Ok
                bootbox.confirm("Biztosan törölni akarod a dolgozót?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/users/" + button.attr("data-user-id"),
                            method: "DELETE",
                            success: function () {
                                //We delete our customer here (DB and DOM to <tr> (complete row))
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
