
@{
    ViewBag.Title = "Dolgozók";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dolgozók</h2>
<a href="/account/register" class="btn btn-primary">Új dolgozó hozzáadása</a>
<br />
<br />

<table id="users" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Felhasználónév</th>
            <th>Telefonszám</th>
            <th>SZIG. szám</th>
            <th>Törlés</th>
        </tr>
    </thead>
    <tbody>
        @*Helytarto a DataTable plugin szamara*@
    </tbody>
</table>

@section scripts
{
    <script>
        //Amikor a DOM teljesen betoltott
        $(document).ready(function () {
            var table = $("#users").DataTable({
                //Konfiguracios objektum >> hogy a Users API legyen a tablazat adatforrasa
                ajax: {
                    url: "/api/users",

                    //Az adatokat objektumok tombjekent kapjuk meg
                    dataSrc: ""
                },
                //Oszlopok >> az adatok JSON formatumban jonnek az API-bol tomb formajaban
                columns: [
                    {
                        data: "email"
                    },
                    {
                        data: "phoneNumber"
                    },
                    {
                        data: "identityCard"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-user-id=" + data + ">Törlés</button>";
                        }
                    }
                ]
            });


            //Adat hozzaferes
            $("#users").on("click", ".js-delete", function () {
                var button = $(this);
                //Ha a felhasznalo az OK-ra nyom, itt hivjuk meg az API-t
                bootbox.confirm("Biztosan törölni akarod a dolgozót?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/users/" + button.attr("data-user-id"),
                            method: "DELETE",
                            success: function () {
                                //Itt toroljuk a dolgozot az adatbazisbol, es a DOM-bol (tablazat) is
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
