@{
    ViewBag.Title = "Rólunk";
}
<h2>@ViewBag.Title.</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2><strong>Mi a Filmellátó?</strong></h2>
            <p class="lead">A Filmellátó egy olyan retro "videotéka", ahol filmeket bérelhetsz könnyen és gyorsan, mint a régi szép időkben.</p>

            <br /><br />

            <h2><strong>Célunk</strong></h2>
            <p class="lead">Legtöbb munkatársunk a 20. században született. Számukra ez a mód, hogy megnézzenek egy filmet, nem egy misztikum, hanem valamikor teljesen normális volt. Manapság a bérlés már elavult, de mi szeretnénk ezt visszahozni a mindennapokba.</p>

            <br /><br />

            <h2><strong>Hogyan bérelhetek filmet?</strong></h2>
            <p class="lead">Tudjuk, hogy manapság könnyebb filmeket letölteni az internetről (ami persze illegális), de a mi szolgáltatásunkkal visszarepülhetsz a régi szép időkbe. Fáradj be üzletünkbe, regisztrálj és válaszd ki kedvenc filmeidet (egyszerre maximum 5-öt).</p>

            <br /><br />

            <h2><strong>Milyen információk szükségesek a regisztrációhoz?</strong></h2>
            <p class="lead">Szükségünk lesz a teljes nevedre, címedre, születési idődre, az általad választott tagság típusára, telefonszámodra, e-mail címedre és a SZIG. számodra.</p>

            <br /><br />

            <h2><strong>Mi a helyzet az árakkal?</strong></h2>
            <p class="lead">A regisztráció során több különböző tagság közül választhatsz.</p>
            <ul>
                <li><p class="lead"><strong>Azonnali fizetés: </strong>Minden filmért napi 200 Ft-ot számolunk fel.</p></li>
                <li><p class="lead"><strong>Havi tagság: </strong>Fizess 2.000 Ft-ot havonta, és vegyél ki annyi filmet, amennyi jól esik.</p></li>
                <li><p class="lead"><strong>Negyedéves tagság: </strong>Fizess 4.000 Ft-ot negyedévente, és vegyél ki annyi filmet, amennyi jól esik.</p></li>
                <li><p class="lead"><strong>Éves tagság: </strong>Fizess 10.000 Ft-ot évente, és vegyél ki annyi filmet, amennyi jól esik.</p></li>
            </ul>

            <br /><br />
            <h2>Ha volna még kérdésed, <a href="/Home/Contact">lépj velünk kapcsolatba</a>.</h2>
        </div>
    </div>
</div>
