@{
    ViewBag.Title = "Kapcsolat";
}
<h2>@ViewBag.Title.</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-3">
            <strong>Közösségi oldalak: </strong><br />
            <strong>Facebook: </strong> <a href="https://www.facebook.com" target="_blank">Filmellátó</a><br />
            <strong>YouTube: </strong><a href="https://www.youtube.com" target="_blank">Filmellátó</a><br />
            <strong>Twitter: </strong><a href="https://www.twitter.com" target="_blank">Filmellátó</a><br />
            <strong>Instagram: </strong><a href="https://www.instagram.com" target="_blank">Filmellátó</a><br /><br />
        </div>

        <div class="col-12 col-sm-3">
            <address>
                <strong>E-mail: </strong><br />
                <strong>Segítség:</strong>   <a href="mailto:support@filmellato.com">support@filmellato.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:marketing@filmellato.com">marketing@filmellato.com</a><br />
                <strong>Egyéb:</strong>      <a href="mailto:zsigmondviktor@filmellato.com">zsigmondviktor@filmellato.com</a><br /><br />
            </address>
        </div>

        <div class="col-12 col-sm-3">
            <address>
                <strong>Cím: </strong><br />
                2143 Kistarcsa,<br />
                Hunyadi utca 24.<br /><br />
            </address>
        </div>

        <div class="col-12 col-sm-3">
            <strong>Telefon: </strong><br />
            +36/1-478-1445 <br />
            +36/30-257-0498 <br /><br />
        </div>

        <div class="col-12 text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1601.3656519340493!2d19.258035195068658!3d47.545112004569674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741c5be44bb0981%3A0x262312408ef6eda8!2zS292aSBDaXDFkWphdsOtdMOzLSDDqXMgS3VsY3Ntw6Fzb2zDsw!5e0!3m2!1shu!2shu!4v1599717834279!5m2!1shu!2shu"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
            </iframe>
        </div>
    </div>
</div>
