<style>
    footer[class="navbar-inverse navbar-fixed-bottom"] {
        border-top: 5px solid #0C4A66;
    }

    footer > div{
        padding-top: 5px;
    }

    .icon{
        padding: 0 3px;
    }
</style>

<footer class="navbar-inverse navbar-fixed-bottom">
    <div>
        @* <div class="text-center">
            <a class="icon" href="https://www.facebook.com" target="_blank"><img src="~/Content/Images/SocialMedia/fb_logo.png" alt="Facebook" /></a>
            <a class="icon" href="https://www.youtube.com" target="_blank"><img src="~/Content/Images/SocialMedia/yt_logo.png" alt="YouTube" /></a>
            <a class="icon" href="https://www.twitter.com" target="_blank"><img src="~/Content/Images/SocialMedia/twitter_logo.png" alt="Twitter" /></a>
            <a class="icon" href="https://www.instagram.com" target="_blank"><img src="~/Content/Images/SocialMedia/insta_logo.png" alt="Instagram" /></a>
        </div>*@
        <p class="text-center">&copy; @DateTime.Now.Year - Filmellátó</p>
    </div>
</footer>
