<style>
    footer[class="navbar-inverse navbar-fixed-bottom"] {
        border-top: 5px solid #0C4A66;
    }

    footer > div{
        padding-top: 5px;
    }

    .icon{
        padding: 0 3px;
    }
</style>

<footer class="navbar-inverse navbar-fixed-bottom">
    <div>
        <p class="text-center">&copy; @DateTime.Now.Year - Filmellátó</p>
    </div>
</footer>
