@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Blokkolva";
}

<hgroup>
    <h1 class="text-danger">Blokkolva.</h1>
    <h2 class="text-danger">Ez a felhasználói fiók blokkolva van, kérlek próbálkozz meg később.</h2>
</hgroup>
